/* SITE-WIDE */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: URL(
      "https://c.pxhere.com/photos/e7/17/coffee_notebook_wooden_background_orange_work_table_office-642063.jpg!d"
    ) */
    /* no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* APP */
.postResultsWrapper {
  background-color: white;
  width: 80vw;
  height: 20vh;
}
/* .App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */



.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
