/* SITE-WIDE */

/* site-wide colors:{
  blue: #00168a
  HiLiteBlue: #00178a8c

  grey: #afafaf
  darkGrey/shadow: #0713386b;
  HiLiteGrey: #d3d3d3

  white : #fafafa
} */

/* APP */

.App{
  text-align: center;
  display: flex;
  font-family: "Allerta", sans-serif;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.App-header {
  display: fixed;
  top: 0px;
  text-align: left;
  align-self: flex-start;
  background: white;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.swal-button--danger {
  background-color: rgb(0, 22, 138);
}
.swal-button--confirm {
  background-color: rgb(0, 22, 138);
}
.swal-modal{
  zoom: 1.3;
}








