.cred-wrapper{
    background: white;
    height: 135vh;
    margin: 10% 25%;
   -webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.75);
}
.main-box{
    display: flex;
    justify-content: space-around;
}
.box3{
    height: 25%;
    margin: 5%;
    background: white;
     -webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.75);
}
.box3 img{
    padding: 20px 20px;
    width: 80%;
}
.box4{
    height: 40%;
    margin: 5%;
    background: white;
     -webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.75);
}
.box4 img{
    padding: 20px 20px;
    width: 80%;
}