.cred-body{
display: block;
position: relative;
width: 75%;
height: 1800px;
margin: 0 auto;
font-family: "Allerta", sans-serif;
background:#00178a8c;
padding: 10px;
}

.main-box{
  display:block;
  /* position: relative; */
  margin: 0 auto;
  overflow: auto;
  padding:2rem;
  top: 10px;
  width: 80%;
  background: lightgrey;
}

.cred-header-container{
  display: block;
  position: relative;
  /* background: blue; */
  padding: 14px;
  margin: 0 auto;
  margin-top:140px;
  height: 125px;
  width: 75%;
  top: 24px;
  text-align: center;
}

.cred-hone{
  display: block;
  /* position: absolute; */
  background:#00178a;
  color: #fafafa;
  width: 60%;
  border-radius: 50px;
  align-content: center;
  font-size: 3rem;
  border: 1px solid black;
  top: 15%; 
}


.cred-h-one{
  display: block;
  position: relative;
  background:#00178a;
  width: 60%;
  border-radius: 50px;
  color: #fafafa;
  font-size: 3rem;
  border: 1px solid black;
  top: 30px; 
}
.box{
  display: block;
  background: lightblue;
  border: 1px solid #0713386b;
  width: 45%;
  text-align: center;
  float: left;
  right: 0;
  margin: 0 20px;
  text-align: center;
}
.box3{
  height: 10%;
  margin: 5%;
  background: white;
}
.box3 img{
  padding: 20px 20px;
  width: 80%;
}

.HTML2Display {
  background: black;
  display:block;
  position: relative;
  margin: 0 auto;
  padding: 4px;
  overflow: scroll;
  /* border:3 */
  width: 90%;
  font-size: .7em;
  border-radius: 4px;
  color: white;
}