  /*** HEADER THANGS ***/

.header {
  display: flex;
  position: fixed;
  transition: .4s ease all;
  top: 0;
  justify-content: space-between;
  border: none;
  background: #afafaf;
  opacity: 0.7;
  width: 100%;
  margin-bottom: 10px;
  z-index: 1000;
}

.header:hover{
  transition: .3s ease all;
  background: #d3d3d3;
}

  /*** LOGO THANGS ***/

.logo-container{
  display:block;
  position: relative;
  margin: 4px;
}

.logo {
  height: 100px;
  width: 100px;
  transition: .4s ease all;
}
.logo:hover{
  transition: .4s ease all;
  box-shadow: -4px 5px 1px #414040;
}

.nav {
  display: flex;
  position: relative;
  padding: 4px;
  margin: 8px;
  margin-right: 12px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Allerta", sans-serif;
  padding-right: 15px;
}

.links {
  display:inline-block;
  transition: .3s ease all;
  padding: 4px;
  margin: 2px; 
  filter: blur(.4px);
  letter-spacing: -2.1px;
  /* color: #00168a; */
  font-size: 1.25rem;
  color: #00178a8c
}

.links:hover{
  transition: .3s ease all;
  color: #00168a;
  letter-spacing: -2px;
  filter:blur(0px);
}

.dropdown {
  float: left;
  overflow: hidden;
  /* color: #00168a; */
  color: #00178a8c;
  padding: 0px 10px 0px 10px;
  margin: 0 auto;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d3d3d3af;
  padding:6px;
  min-width: 100px;
  text-align: left;
  overflow: auto;
  z-index: 1100;
}

.dropdown:hover{
  color: #00168a;
}

.dropdown-content a {
  display: block;
  position: relative;
  width: 100%;
  transition: .4s ease all;
  margin: 0 auto;
  float:left;
  /* background-color: blue; */
  color: #00168a;
  padding: 2px;
  display: block;
  text-decoration: none;
  text-align: left;
}
.dropdown-content a:hover {
  display:block;
  position: relative;
  transition: .4s ease all;
  width: 100%;
  color: #d3d3d3;
  background-color: #00178a6b
  
}

 .dropdown:hover .dropdown-content {
  display: block;
 }

