/*** HEADER THANGS ***/

.header {
  display: flex;
  position: fixed;
  background: #afafaf;
  justify-content: space-between;
  top: 0;
  left: 0px;
  padding: 2px;
  max-width: 1600px;
  width: 100%;
  margin-right: 50px;
  margin-bottom: 10px;
  z-index: 1000;
  transition: 0.4s ease all;
}

.header:hover {
  transition: 0.3s ease all;
  background: #d3d3d3;
}


/*** LOGO THANGS ***/

.logo-container {
  display: block;
  position: relative;
  margin: 4px;
}

.logo {
  height: 100px;
  width: 100px;
  transition: 0.4s ease all;
}
.logo:hover {
  transition: 0.4s ease all;
  box-shadow: -4px 5px 1px #414040;
}
  /*** BACK BUTTON ***/

  .backButton-container{
    display: inline-block;
    position: relative;
    background: #80ecd1e7;
  }

.backButton {
  background:#00168a;
  color: #fafafa;
  display: inline-block;
  position: relative;
  margin: 0 auto;
  margin: 8px;
  top: 120px;
  padding: 4px;
  height: 40px;
  line-height: 60px;
  min-width: 80px;
  max-width: 150px;
  border: 1px solid #00000000;
  border-radius: 5px;
  font-family: "Allerta", sans-serif;
  text-align: center;
  line-height: 30px;
  font-size: 1.05rem;
  transition: .3s ease all;
}

.backButton:hover {
  transition: .3s ease all;
  background: #eeeeeea6;
  border: 1px solid #0000005e;
  color: #00168a;
  box-shadow: -11px 8px 1px #1b1b2cab;
}

 /*** NAV THINGS ***/

.nav {
  display: flex;
  position: relative;
  padding: 4px;
  margin: 8px;
  margin-right: 12px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Allerta", sans-serif;
  padding-right: 15px;
}

.links {
  display: block;
  /* background: #00178a8c; */
  color: #00178a8c;
  transition: 0.3s ease all;
  padding: 8px;
  filter: blur(0.4px);
  letter-spacing: -2.1px;
  font-size: 1.25rem;
}

.links:hover {
  transition: 0.3s ease all;
  color: #00168a;
  filter: blur(0px);
}

    /*** DROPDOWN THANGS ***/

.dropdown {
  float: left;
  overflow: hidden;
  color: #00178a8c;
  padding: 8px 10px;
  margin: 0 auto;
}


.dropdown-content {
  display: none;
  position: absolute;
  float:left;
  right: 15px;
  font-size: 1.5rem;
  padding: 8px;
  z-index: 1100;
}

.dropdown-content a {
  display: block;
  position: relative;
  background: green;
  color: #00168a;
  margin: 0 auto;
  top: 1px;
  padding: 6px;
  font-size: 1.15rem;
  text-decoration: none;
  transition: 0.4s ease all;
}
.dropdown-content a:hover {
  transition: 0.4s ease all;
  background-color: #00178a6b;
  color: #d3d3d3;
}

.dropdown:hover .dropdown-content {
  background:#d3d3d3;
  display: block;
  box-shadow: -10px 15px 4px #0713386b;
  height: 510px;
  width: 200px;
  padding-top: 12px;
  top: 70px;
}


/* SETTINGS DROPDOWN  */


#alternate {
  display: none;
  position: absolute;
  overflow: auto;
  font-size: 1rem;
  padding: 8px;
  z-index: 1100;
}


.settingsIcon {
  zoom: 0.2;
}

.settingsIcon:hover {
  transform: rotate(180deg);
  -webkit-transition: -webkit-transform .5s ease-in-out;
          transition:         transform .5s ease-in-out;
}

@media only screen and (max-width: 550px) {
  .header {
    zoom: 0.8;
  }
}
