/*** HEADER THANGS ***/

.header {
  display: flex;
  position: fixed;
  background: rgb(175, 175, 175, 0.7);
  /* opacity: 0.7; */
  justify-content: space-between;
  border: none;
  top: 0;
  width: 100%;
  margin-bottom: 10px;
  z-index: 1000;
  transition: 0.4s ease all;
}

.header:hover {
  transition: 0.3s ease all;
  background: #d3d3d3;
}

/*** LOGO THANGS ***/

.logo-container {
  display: block;
  position: relative;
  margin: 4px;
}

.logo {
  height: 100px;
  width: 100px;
  transition: 0.4s ease all;
}
.logo:hover {
  transition: 0.4s ease all;
  box-shadow: -4px 5px 1px #414040;
}
  /*** BACK BUTTON ***/

  .backButton-container{
    display: inline-block;
    position: relative;
    background: #80ecd1e7;
  }

.backButton {
  background:#00168a;
  color: #fafafa;
  display: inline-block;
  position: relative;
  margin: 0 auto;
  margin: 8px;
  top: 120px;
  padding: 4px;
  height: 40px;
  line-height: 60px;
  min-width: 80px;
  max-width: 150px;
  border: 1px solid #00000000;
  border-radius: 5px;
  font-family: "Allerta", sans-serif;
  text-align: center;
  line-height: 30px;
  font-size: 1.05rem;
  transition: .3s ease all;
  /* position: absolute;
  left: 110px;
  top: 70px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 1em;
  font-family: "Allerta", sans-serif;
  color: black; */
}
.backButton:hover {
  transition: .3s ease all;
  background: #eeeeeea6;
  border: 1px solid #0000005e;
  color: #00168a;
  box-shadow: -11px 8px 1px #1b1b2cab;
}



 /*** NAV THINGS ***/

.nav {
  display: flex;
  position: relative;
  padding: 4px;
  margin: 8px;
  margin-right: 12px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Allerta", sans-serif;
  padding-right: 15px;
}

.links {
  display: inline-block;
  transition: 0.3s ease all;
 padding-right: 4px;
  margin: 2px;
  filter: blur(0.4px);
  letter-spacing: -2.1px;
  /* color: #00168a; */
  font-size: 1.25rem;
  color: #00178a8c;
}

.links:hover {
  transition: 0.3s ease all;
  color: #00168a;
  letter-spacing: -2px;
  filter: blur(0px);
}

.dropdown {
  float: left;
  overflow: hidden;
  /* color: #00168a; #00178a8c; */ 
  color: #00178a8c;
  padding: 0px 10px 0px 10px;
  margin: 0 auto;
}
.dropdown-content {
  /* display: none; */
  position: absolute;
  background-color: transparent;
  z-index: 1000000 !important;
  /* padding: 6px; */
  padding: 0px;
  min-width: 100px;
  text-align: left;
  overflow: auto;
  /* z-index: 1100;
  right: 0px; */
  overflow:hidden;
    height:0;
    -webkit-transition:height 500ms ease-in;
    -moz-transition:height 500ms ease-in;
    -o-transition:height 500ms ease-in;
    transition:height 500ms ease-in;
   
}

.dropdown:hover {
  color: #00168a;
  z-index: 1000000 !important;
}

.dropdown-content a {
  position: relative;
  width: 100%;
  margin: 0 auto;
  float: left;
  /* background-color: blue; */
  color: #00168a;
  /* padding: 2px; */
  display: block;
  text-decoration: none;
  text-align: left;
  padding-left: 0px;

}
/* .dropdown-content a:hover {
  display: inline-flex;
  position: relative;
  transition: 0.4s ease all;
  width: 100%;
  color: #d3d3d3;
  background-color: #00178a6b;
  background-size: contain;
  align-content: left;
} */

.dropdown:hover .dropdown-content {
  display: block;
  background-color: rgba(211, 211, 211);
  right: 0px;
  padding-top: 37px;
  /* overflow:hidden; */
  height: 110vh;

}
.alternate {
  position: fixed;
  right: 0px;

}
/* .blogLinks {
  line-height: 30px;
} */

.settingsIcon {
  zoom: 0.2;
  transform: rotate(-180deg);
  -webkit-transition: -webkit-transform .5s ease-in-out;
          transition:         transform .5s ease-in-out;
}
.settingsIcon:hover {
  transform: rotate(180deg);
  -webkit-transition: -webkit-transform .5s ease-in-out;
          transition:         transform .5s ease-in-out;
}



@media only screen and (max-width: 550px) {
  .header {
    zoom: 0.8;
  }
}
