/*** HEADER THANGS ***/

.header {
  background: #d3d3d3;
  display: flex;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left:-2px;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1.5px solid #afafaf;
  z-index: 1000;
  transition: 0.4s ease all;
}

.header:hover{
  transition: 0.4s ease all;
  border-bottom: 1.5px solid #0713386b;
  background: #dbdada;
}

/*** LOGO THANGS ***/

.logo-container {
  display: block;
  position: relative;
  margin: 4px;
  left: 6px;
}

.logo {
  height: 100px;
  width: 100px;
  transition: 0.4s ease all;
}
.logo:hover {
  transition: 0.4s ease all;
  box-shadow: -4px 5px 1px #414040;
}
  /*** BACK BUTTON ***/

  .backButton-container{
    display: inline-block;
    position: relative;
    background: #80ecd1e7;
  }

.backButton {
  background:#00168a;
  color: #fafafa;
  position: fixed !important;
  left: 12px;
  top: 112px;
  position: relative;
  margin: 0 auto;
  margin: 8px;
  padding: 4px;
  height: 40px;
  line-height: 60px;
  min-width: 80px;
  max-width: 150px;
  border: 1px solid #00000000;
  border-radius: 5px;
  font-family: "Allerta", sans-serif;
  text-align: center;
  line-height: 30px;
  font-size: 1.05rem;
  transition: .3s ease all;
}

.backButton:hover {
  transition: .3s ease all;
  background: #eeeeeea6;
  border: 1px solid #0000005e;
  color: #00168a;
  box-shadow: -9px 9px 1px #1b1b2cab;
}

 /*** NAV THINGS ***/

.nav {
  display: flex;
  position: relative;
  padding: 4px;
  margin: 8px;
  margin-right: 12px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Allerta", sans-serif;
  padding-right: 15px;
}

.header-links {
  display: inline-block;
  transition: 0.3s ease all;
  padding-right: 4px;
  margin: 2px;
  padding:6px;
  letter-spacing: -3px;
  font-size: 1.5rem;
  color: #00178a8c;
  border: 1.5px solid #0713386b;
  border-radius: 4px;
  transition: .3s ease all;
}

.header-links:hover {
  transition: .3s ease all;
  background: #00178a8c;
  color: #fafafa;
  border: 1.5px solid #fafafa;
  transition: 0.3s ease all;
}

.dropdown {
  display: block;
  overflow: scroll;
  color: #00178a8c;
  padding: 0px 10px 0px 10px;
  margin: 0 auto;
}


.dropdown-content {
  position: absolute;
  padding: 0px;
  background-color: #d3d3d300;
  width: 90px;
  text-align: left;
  padding-top: 20px;
  right:2000px;
  border-radius: 4px;
  overflow:hidden;
  min-width: 160px;
  height:0;
  -webkit-transition:height 300ms ease-out;
  -moz-transition:height 300ms ease-out;
  -o-transition:height 300ms ease-out;
  transition:height 300ms ease-out;
}


.dropdown:hover .dropdown-content {
  display: block;
  z-index: 10000 !important;
  background-color: #d3d3d3d8; 
  position: absolute;
  overflow:scroll;
  right: -15px;
  border-left: 1.5px solid #0713386b;
  border-bottom: 2px solid #0713386b;
  -webkit-transition:height 300ms ease-out;
  -moz-transition:height 300ms ease-out;
  -o-transition:height 300ms ease-out;
  transition:height 300ms ease-out;
  height: 370px;
  width: 250px;
}

.droptitle{
  color: #00178a8c;
  font-weight: bold;
  letter-spacing: -4px;
  display: block;
  border-bottom: 1.5px solid #0713386b;
  margin: 8px auto;
  font-size: 1.5rem;
}

 
 .drop-siteLinks {
  display: inline-block;
  position: relative;
  color: #00178a8c;
  border: 1.5px solid #0f161875;
  margin: 0 auto;
  width: 100%;
  right:25px;
  filter: blur(0.4px);
  letter-spacing: -2.1px;
  border-radius:4px;
  text-align: center;
  font-size: 1.25rem;
  transition: 0.3s ease all;
}

.drop-siteLinks:hover{
  transition: .3s ease all;
  background: #00178a8c;
  color: #fafafa;
  border: 1.5px solid #fafafa;
  letter-spacing: -2px;
  filter: blur(0px);
  box-shadow: -10px 10px 2px #0f161875;   
}

.setting-links {
  display: inline-block;
  position: relative;
  width: 80%;
  padding: 4px;
  margin: 4px auto;
  letter-spacing: -2.1px;
  border: 1.5px solid #0f161875;
  border-radius:4px;
  font-size: 1.25rem;
  color: #00178a8c;
  transition: 0.3s ease all;
}

.setting-links:hover {
  transition: .3s ease all;
  background: #00178a8c;
  color: #fafafa;
  border: 1.5px solid #fafafa;
  box-shadow: -10px 10px 2px #0f161875;   
}

.logout-links{
  display: inline-block;
  color: #00178a8c;
  border: 1.5px solid #0f161875;
  border-radius:4px;
  transition: 0.3s ease all;
  padding: 4px;
  margin: 2px;
  width: 50%;
  text-align:left;
  letter-spacing: -2.1px;
  font-size: 1.25rem;
  transition: .3s ease all;
}

.logout-links:hover{
  transition: .3s ease all;
  background: #ff260998;
  color: #fafafa;
  border: 1.5px solid #fafafa;
  box-shadow: -10px 10px 2px #0f161875;   
}

.alternate {
  position: fixed;
  right: 0px;
}


.settingsIcon {
  display:block;
  position:relative;
  padding:5px;
  height:2rem;
  transform: rotate(-180deg);
  -webkit-transition: -webkit-transform .5s ease-in-out;
          transition:         transform .5s ease-in-out;
}
.settingsIcon:hover {
  transform: rotate(180deg);
  -webkit-transition: -webkit-transform .5s ease-in-out;
          transition:         transform .5s ease-in-out;
}



@media only screen and (max-width: 550px) {
  .header {
    zoom: 0.8;
  }
}