/* site-wide colors:{
  blue: #00168a
  HiLiteBlue: #00178a8c

  grey: #afafaf
  darkGrey/shadow: #0713386b;
  HiLiteGrey: #d3d3d3

  white : #fafafa
} */

.home-body {
  display: block;
  margin: 0 auto;
  position: relative;
  font-family: "Allerta", sans-serif;
  top: 49px;
  width: 80%;
  height: 1200px;
  z-index: 1;
}

.header-container {
  width: 53%;
  position: relative;
  margin: 0 auto;
  text-align: center;
  overflow: auto;
}

.header-container h1 {
  display: inline-block;
  background: #d3d3d300;
  text-align: center;
  position: relative;
  padding: 4px;
  letter-spacing: -6px;
  border-bottom: 2px solid #07133800;
  word-wrap: break-word;
  font-size: 3.25rem;
  color:#00168a;
  width: 94%;
  transition: .3s ease all;
}

.header-container h1:hover{
  transition: .3s ease all;
  letter-spacing: -5px;
  border-bottom: 2px solid #0713386b;
  font-weight: bold;
  text-shadow: -21px 21px 5px #000000a4;
}

/*** SIDESCROLL THANGS ***/

/* ::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
} */

.scroll-container {
  display: block;
  position: relative;
  position: relative;
  background: #d3d3d3;
  border:1px solid #0713386b;
  border-radius: 2px;
  margin: 20px auto;
  height: 200px;
  width: 50%;
  padding: 10px 1px;
  padding-right: 60px;
  min-width: 205px;
  overflow:scroll;
  z-index: 1;
  transition: .2s ease all;
}


.scroll-container:hover{
  transition: .2s ease all;
  border: 1px solid #afafaf;
  background: #afafaf00;
}

.horizontal-scroll-wrapper {
  display: block;
  position: absolute;
  background: #00178a8c;
  overflow-x: scroll;
  margin: 15px 28%;
  line-height: 100px;
  width: 160px; 
  max-width: 160px;
  right: 51%;
  height: 280%;
  /* max-height: 900px; */
  border: 1.5px solid #ffffff;
  border-radius: 4px; 
  /* outline: 1px solid #d3d3d3; */
  transform: rotate(-90deg) translateY(-80px);
  transform-origin: top right;
  transition: .2s ease all;
} 

.horizontal-scroll-wrapper:hover{
  transition: .2s ease all;
  border: 1.5px solid #2727277e;
  background: #afafaf;
}

.iframy {
  overflow: hidden;
  display: block;
  position: relative;
  margin: 0 auto;
  background: white;
  font-size: 1.8rem;
  z-index: 100;
  border-radius: 5px;
}
.iframy > * {
  zoom: 0.4;
  overflow: hidden;
  background: white;
  z-index: 101;
}

.rectangles div {
  display:block;
  position: relative;
  top: -5px;
  left: 70px;
  width: 65%;
  height: 90px;
  padding: 15px;
  margin: 30px auto;
  transform-origin: bottom-left;
  transform: rotate(90deg) translateY(70px);
  z-index: 101;
  transition: 0.2s ease-out;
}

.rectangles div:hover {
  transition: 0.2s ease all;
  display: block;
  position: relative;
  box-shadow: -16px 17px 4px #0f1618b4;
  height: 96px;
}

.rectangles div p{
  background: #00178a17;
  color: #00178a8c;
  display: block;
  position: relative;
  text-align: center;
  bottom: .55rem;
  line-height: 50px;
  letter-spacing: -3px;
  padding: 2px;
  border-radius: 4px; 
  overflow: auto;
  margin: 0 auto;
  width: 80%;
  transition: 0.2s ease all;
}

.rectangles div p:hover {
  transition: 0.2s ease all;
  background: #00178a8c;
  color: #fafafa;
  box-shadow: -16px 17px 5px #0f1618b4;
}

/*** BUTTONS ***/

.buttons-container {
  background: #d3d3d3;
  /* background: #00178a8c; */
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 2px;
  min-width: 40%;
  width: 55%;
  border:1px solid #0713386b;
  border-radius: 4px; 
  text-align: center;
  transition: .2s ease all;
}

.buttons-container:hover{
  transition: .2s ease all;
  background: #00178a8c;
  /* box-shadow: -12px 13px 5px #0f1618b4; */
}

.buttons-item {
  background: #00168a;
  color: #fafafa;
  display: inline-block;
  position: relative;
  margin: 0 auto;
  margin: 8px;
  padding: 4px;
  height: 60px;
  line-height:50px;
  min-width: 100px;
  max-width: 110px;
  border-radius: 5px;
  font-family: "Allerta", sans-serif;
  font-size: 1.25rem;
  transition: .3s ease all;
}

.buttons-item:hover {
  transition: .3s ease all;
  background: #eeeeee;
  cursor: pointer;  
  color: #00168a;
  box-shadow: -13px 16px 1px #1b1b2cab;
}
table {
  background: black;
  border-radius: 5px;
}
th{
  background: gray;
  color: white;
  padding: 5px;
}
td, tr {
  background: white;
  padding: 5px;
  text-align: center;
  /* border-radius: 3px; */
}

