.title-button{
  display: block;
  position: relative;
  padding: 4px;
  align-content: center;
  width: 15%;
  overflow: auto;
  height: 20px;
  margin: 10px auto;
  top: 110px;
}

.title-button input{
  display:block;
  position: relative;
  margin: 0 auto;
}

.new-post-editor{
  display: block;
  position: relative;
  padding: 4px;
  margin: 20px auto;
  top: 100px;
  width: 80%;
}

.savebutton{
  font-family: "Allerta", sans-serif;
  font-size: 20px;
  border: none;
  box-shadow: 1px 1px 1px;
  border-radius: 25px;
  background-color: #00168a;
  color: white;
}
