h1{
    font-family: "Allerta", sans-serif;
    text-align: center;
    
}

.pickBlogPage{
    font-family: "Allerta", sans-serif;
    color: black;
    padding: 150px;
    
}

.pickBlogPage:hover {
    color: #00168a;
}

.blogLinks {
    font-family: "Allerta", sans-serif;
    color: black;
    width: 250px;
    line-height: 55px;
}

.blogLinks:hover{
    color: #00168a;
}

.newBlog {
    background-color: #00168a;
    border: none;
    box-shadow: 1px 1px 1px;
    border-radius: 25px;
    size: 200%;
    text-align: center;
    color: white;
}

.blogList {
    width: 300px;
    height: 130px;
    border: 1px solid black;
    background-color: rgb(211, 211, 211, 0.7);
    text-align: center;

    
    padding-right: 40px;
}
.blogList:hover {
    zoom: 1.1;
}

span.list {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    font-size: 20px;
}

.postsButtons {
    padding: 4px;
    background: rgb(0, 22, 138);
    border: none;
    box-shadow: 1px 1px 1px;
    border-radius: 5px;
    color: white;
    margin: 5px;
    margin-top: 15px;
    width: 90px;
    font-size: 0.8em;
  }
  .postsButtons:active {
    box-shadow: none;
  }
  .postsButtons:hover {
    background: rgb(0, 22, 138, 0.5);
    color: black;
  }
