h1{
    font-family: "Allerta", sans-serif;
    text-align: center;
    
}

.pickBlogPage{
    font-family: "Allerta", sans-serif;
    color: black;
    padding: 150px;
    text-align: center;
}

.pickBlogPage:hover {
    color: #00168a;
}

.blogLinks {
    font-family: "Allerta", sans-serif;
    color: black;
    align-content: center;
}

.blogLinks:hover{
    color: #00168a;
}

.newBlog {
    background-color: #00168a;
    border: none;
    box-shadow: 1px 1px 1px;
    border-radius: 25px;
    size: 200%;
    text-align: center;
    color: white;
}

.blogList {
    width: 300px;
    height: 100px;
    border: 1px solid black;
    background-color: lightgrey;
    opacity: .7;
    margin: auto;
}

span.list {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    font-size: 20px;
}