.pickBlog-body{
  font-family: "Allerta", sans-serif;
}

h1{
    text-align: center;
    
}
h2 {
    margin-left: 25%;
}

.pickHeader {
    color: black;
    padding-top: 100px;
    display: flex;
    flex-direction: column; 
}
.pickBlogPage{
    color: black;
    display: flex;
}

.pickBlogPage:hover {
    color: #00168a;
}

.pickBlogPage>div{
    width: 50%;
    padding: 10px;
}

.pickBlogPage>div:first-child {
    margin-right: 20px;
}

.blogLinks {
    color: black;
    width: 250px;
    line-height: 55px;
    flex-direction: row
}

.blogLinks:hover{
    color: #00168a;
}

.newBlog {
    background-color: #00168a;
    border: none;
    box-shadow: 1px 1px 1px;
    border-radius: 25px;
    size: 200%;
    text-align: center;
    color: white;
}

.blogList {
    width: 300px;
    height: 130px;
    border-radius: 5px;
    background-color: #d3d3d3b3;
    text-align: center;
    padding-right: 40px;
    margin-left: 25%;
}

.blogList:hover {
    zoom: 1.1;
}

span.list {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    font-size: 20px;
}

.postsButtons {
    padding: 4px;
    background: #00168a;
    border: none;
    box-shadow: 1px 1px 1px;
    border-radius: 5px;
    color: white;
    margin: 5px;
    margin-top: 15px;
    margin-left: 25%;
    width: 90px;
    font-size: 0.8em;
  }

  .deleteButtons {
    background:#00168a;
    color: #fafafa;
    display: inline-block;
    position: relative;
    margin: 8px auto;
    padding: 4px;
    height: 50px;
    width: 30%;
    min-width: 80px;
    max-width: 150px;
    border: 1px solid #00000000;
    border-radius: 5px;
    font-family: "Allerta", sans-serif;
    text-align: center;
    line-height: 20px;
    font-size: .8rem;
    transition: .3s ease all;
  }
  
  
  .postsButtons:hover {
    background: #00168a80;
    color: black;
  }

  .submitButtons {
    padding: 4px;
    background: #00168a;
    border: none;
    box-shadow: 1px 1px 1px;
    border-radius: 5px;
    color: white;
    margin: 5px;
    margin-top: 15px;
    width: 90px;
    font-size: 0.8em;
  }
