.pickBlog-body{
  font-family: "Allerta", sans-serif;
  display:block;
  position: relative;
  top: 110px;
}

h1{ 
  display: block;
  color:#1818188c;
  position: relative;
  font-size: 3rem;
  letter-spacing: -4px;
  bottom: 20px;
  margin: 0 auto;
  text-align: center; 
}

.whichBlog{
  display: block;
  position: relative;
  color:#1818188c;
  margin: 0 auto;
  text-align: center;
}

.pickHeader {
  background: #00178a8c; 
  display:block;
  position: relative;
  margin: 0 auto;
  margin-top: 55px;
  padding:6px;
  width: 55%;
  border-radius: 5px;
  border: 2px solid #0713386b;
  color: black;
  padding-top: 30px;
  transition: .4s ease all;
}

.pickBlogPage{
  display: inline-block; 
  position: relative;
  /* background: grey; */
  margin: 0 20px;
  left: 18%;
  width: 30%;
  text-align: center;
  position: relative;
}

.pickBlogPage:hover {
    /* background: #00168a; */
}

.blogList-container{
  background: #d3d3d300;
  display: inline-block;
  position: relative;
  width: 70%;
  min-width: 220px;
  margin: 12px;
  left:12%;
  padding: 4px;
  text-align: center;
}

.blogList {
  background: #d3d3d3a4;
  display: inline-block;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 95%;
  height: 200px;
  right: 25%;
  min-width: 105px;
  max-width: 260px;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 5px;
  border: 1.5px solid #0713386b;
  transition: .2s ease all;
}

.blogList:hover {
  transition: .2s ease all;
  background:#d3deffb3;
  color: #fafafa;
  border: 1.5px solid #0713386b;;
  box-shadow: -2px 2px 2px #0f1618b4;
}

.blogLinks {
  background: #00168a;
  color: #fafafa;
  border: 1.5px solid #fafafa;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 65%;
  height: 65%;
  min-width: 110px;
  margin: 10px 15%;
  bottom:15px;
  padding: 4px 6px;
  border-radius: 5px;
  text-align: center;
  word-wrap: break-word;
  transition: .2s ease all;
}

.blogLinks:hover{
  transition: .2s ease all;
  background: #00178a8c;
  color: #fafafa; 
  border: 1.5px solid #00178a8c;
  overflow: none;
  /* background: #00168a;
  color: #fafafa;
  border: 1.5px solid #fafafa; */
  box-shadow: -16px 17px 2px #0f161875;   
}

span.list {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 4px;
  font-size: 1.8rem;
  width: 90%;
  top: 10px;
  height: 75%;
  max-width: 150px;
  border-radius: 5px;
  line-height: 35px;
  letter-spacing: -3px;
  transition: .2s ease all;
}

span.list:hover{
  transition: .4s ease all;
  color: #fafafa;
  /* text-shadow: -16px 12px 1px #0f1118a4; */
}

.newBlog {
    background-color: #00168a;
    border: none;
    box-shadow: 1px 1px 1px;
    border-radius: 25px;
    size: 200%;
    text-align: center;
    color: white;
}



.postsButtons {
  display: block;
  position: relative;
  text-align: center;
  align-self: center;
  background: #00168a;
  color: #fafafa;
  margin: 0 auto;
  padding: 4px;
  height: 40px;
  top:10px;
  line-height:12px;
  min-width: 100px;
  max-width: 110px;
  border-radius: 5px;
  border: 1px solid #00000000;
  font-family: "Allerta", sans-serif;
  transition: .3s ease all;
  }

  .postsButtons:hover{
    transition: .3s ease all;
    border: 1px solid #0713386b;
    background: #fafafa;
    color: #00168a;
    box-shadow: -16px 17px 2px #0f1618b4;
  }

  .deleteButtons {
  background: #35363a00;
  color: #0f1618b4;
  display: block;
  position: relative;
  margin: 0 auto;
  margin-bottom: 14px;
  padding: 2px;
  right: 15px;
  bottom: 15px;
  height: 1.5rem;
  width: 24px;
  float: left;
  border-radius: 5px;
  border: 1.5px solid #fafafa00;
  /* font-family: "Allerta", sans-serif; */
  font-size: .75rem;
  font-weight: 100;
  line-height: 20px;
  transition: .2s ease all;
  }

.deleteButtons:hover {
  transition: .2s ease all;
  background: #ff260998;
  border: 1.5px solid #fafafa;
  line-height: 22px;
  color: #fafafa;
  cursor: pointer;  
  box-shadow: -2px 2px 2px #1b1b2cab;
  z-index: 200;
}
  

  .submitButtons {
    background: #00168a;
    color: white;
    font-family: "Allerta", san-serf;
    border: none;
    box-shadow: 1px 1px 1px;
    border-radius: 5px;
    padding: 4px;
    margin: 5px;
    margin-top: 15px;
    width: 90px;
    font-size: 0.8em;
  }
