.postResultsWrapper {
  background-color: rgb(175, 175, 175, 0.7);
  width: 80vw;
  /* height: 40vh; */
  border: solid white thin;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 5px;
  overflow: auto;
  text-align: center;
}
.postIframe {
  width: 95%;
  height: 350px;
  background: white;
  border-radius: 20px;
}
.postsButtons {
  padding: 10px;
  background: rgb(0, 22, 138);
  border: transparent;
  box-shadow: 1px 1px 1px;
  border-radius: 5px;
  color: white;
  margin: 5px;
  width: 90px;
}
.postsButtons:active {
  box-shadow: none;
}
.postsButtons:hover {
  background: rgb(0, 22, 138, 0.5);
  color: black;
}


.newPostButton {
  position: fixed;
  left: 1px;
  top: 120px;
  padding: 10px;
  background: rgb(0, 22, 138);
  border: none;
  box-shadow: 1px 1px 1px;
  border-radius: 5px;
  color: white;
  width: 90px;
}
.newPostButton:active {
  box-shadow: none;
}
.newPostButton:hover {
  background: rgb(0, 22, 138, 0.5);
  color: black;
}
.filter{
  margin: 5% 0 0 50%;
  width: 200px;
}
.filter-bar{
  width: 250px;
}
