.postResultsWrapper {
  background-color: rgb(175, 175, 175, 0.7);
  width: 80vw;
  /* height: 40vh; */
  border: solid white thin;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 5px;
  overflow: auto;
  text-align: center;
}
.postIframe {
  width: 95%;
  height: 350px;
  background: white;
  border-radius: 20px;
}
.postsButtons {
  padding: 10px;
  background: rgb(0, 22, 138);
  border: transparent;
  box-shadow: 1px 1px 1px;
  border-radius: 5px;
  color: white;
  margin: 5px;
  margin-left: 0px;
  width: 90px;
}
.postsButtons:active {
  box-shadow: none;
}
.postsButtons:hover {
  background: rgb(0, 22, 138, 0.5);
  color: black;
}


.newPostButton {
  background:#00168a;
  color: #fafafa;
  position: fixed !important;
  right: 1px;
  top: 112px;
  position: relative;
  margin: 0 auto;
  margin: 8px;
  padding: 4px;
  height: 40px;
  line-height: 60px;
  min-width: 80px;
  max-width: 150px;
  border: 1px solid #00000000;
  border-radius: 5px;
  font-family: "Allerta", sans-serif;
  text-align: center;
  line-height: 30px;
  font-size: 1.05rem;
  transition: .3s ease all;
}
.newPostButton:hover {
  transition: .3s ease all;
  background: #eeeeeea6;
  border: 1px solid #0000005e;
  color: #00168a;
  box-shadow: -11px 8px 1px #1b1b2cab;
}
.switchView{
  margin: 9% 0 0 96%;
  color: #00168a;
  font-size: 1.3em;
}
.switchView:hover{
  cursor: pointer;
  color: #00178a8c;
}
