.splash-body{
  display: flex;
  height: 1100px;
  width: 100%;
  background-image: url('../../assets/images/backgroudphoto.jpg');
  background-attachment: scroll;
  background-size: cover;
  zoom: .9;
}

.button-container{
  display: flex;
  justify-content: center;
  align-content: center;
  width:25%;
  height: 25%;
  margin: 15% auto;
  top: 25%;
}


.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: auto;
  width: auto;
  margin: 0;
  font-family: 'Allerta', sans-serif;
  font-size: 30px;
  text-decoration-color: #00168a;
  border: solid black 2px;;
}

a{
  text-decoration: none;
}